* {
    box-sizing: border-box;
  }
  
  body {
    background-color: black !important;
  }
  
  .am-header {
    background-color: #56042C;
    padding: 0px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 5px;
    width: 100%;
  }

  .column {
    float: left;
    height: 1800px;
    border-radius: 15px;
    margin: 6px;
  }
  
  .column.side {
    width: 24%;
    height: 660px;
    min-width: 10%;
    background-color: rgb(90, 69, 63);
  }
  
  .column.middle {
    width: 49%;
    float: left;
    background-color: whitesmoke;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .am-footer {
    background-color: #56042C;
    padding: 10px;
    text-align: center;
    border: 10px;
    border-radius: 15px;
  }

  .am-top-text {
    text-align: center;
    margin: 0px;
    font-family: didot, serif;
    font-size: auto;
  }

  a:link { 
    text-decoration: none; 
  }

  p {
    margin: 0 !important;
  }

  .am-footer-paragraph {
    color: #fff;
  }

  .am-button-res {
    text-align: center;
  }

  .img {
    height: auto !important;
  }
  
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }


  #am-header-logo {
    width: 160px;
  }

  #am-Fifa-logo {
    width: 160px;
  }

  .am-mid-games {
    border: 4px solid #56042C;
    height: 10%;
    margin-bottom: 15px;
    background-image: url(Background-images/back-img.jpeg);
    background-size: 100% 100%;
  }

  .am-teams-names {
    font-family: bradley hand, cursive;
    text-align: center;
  }

  .am-home-team-mid {
    width: 19%;
    max-width: 150px;
    display: inline-block;
  }

  .am-away-team-mid {
    width: 19%;
    max-width: 150px;
    display: inline-block;
  }

  .am-box-mid-match {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    text-align: center;
  }

  .am-team-losser {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 15%;
  }

  .am-team-winner {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 15%;
    border: 3px #56042C solid;
  }

  .am-result-box-button {
    display: inline-table;
    text-align: center;
    width: auto;
    height: auto;
  }

  .am-tm-and-res {
    position: relative;
    top: 15%;
  }

  #wc-2026-logo {
    max-width: 100%;
    text-align: center;
  }

  #dates-2026 {
    font-family: 'Kelson Bold', sans-serif;
    font-size: 22px;
    margin-top: 30px 0 30px 0;
    text-align: center;
  }

  .am-logo-dates-2026 {
    text-align: center;
    height: 30%;
  }

  .am-left-games {
    border: 4px solid #56042C;
    height: 35%;
    margin-bottom: 15px;
    background-image: url(Background-images/bck.jpg);
    background-size: 100% 100%;
  }

  .am-team-winner-left-side {
    height: auto;
    max-height: 95%;
    width: auto;
    max-width: 105px;
    border-radius: 15%;
    border: 3px #56042C solid;
  }

  .am-team-losser-left-side {
    height: auto;
    max-height: 95%;
    width: auto;
    max-width: 105px;
    border-radius: 15%;
  }

  .am-home-team-l {
    height: auto;
    max-height: 95%;
    width: auto;
    max-width: 95%;
    display: inline-block;
  }

  .am-away-team-l {
    width: auto;
    height: auto;
    display: inline-block;
  }

  .am-left-side-box {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    text-align: center;
  }

  .tm-and-res-left {
    position: relative;
    top: 15%;
  }

  .am-match-info {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 25%;
    position: relative;
    top: 2%;
    text-align: center;
  }

  .am-home-team-info {
    width: 19%;
    max-width: 150px;
    display: inline-block;
    position: relative;
    right: 4%;
  }

  .am-away-team-info {
    width: 19%;
    max-width: 150px;
    display: inline-block;
    position: relative;
    left: 4%;
  }